@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.villageMenuCard{
    background-image: url('../assets/VillageBackGround.png');
    background-size: auto;
    background-repeat: no-repeat;
}
.VillageTittle{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    
}

.CardsGridV{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 28% ); 
    grid-template-rows: repeat(11, 30%); 
    grid-gap: 20px;  
    row-gap: 30px;

    
    overflow-y: auto; 
    white-space: nowrap;
    max-height: 88%; 
    align-items: center;

}
.CardsGridV::-webkit-scrollbar{display: none;}
.ImgCard{
    width: 7rem;
    height: 9rem;
    flex-shrink: 0;
}
.ImgCardContainer:hover{
    transform: scale(1.1);
    
}
@media screen and (min-width: 1440px) {

    .villageMenuCard.border-4.bg-orange-300.relative.rounded-lg{
        width: 40%;
        height: 80%;
    }
   
    .ImgCardContainer.relative{
        width: 100px;
        height: 100px;
    }
    .CardsGridV{
        margin-left: 5%;
        width: 100%;
        grid-gap: 1px;  
        row-gap: 31px;

        max-height: 85%; 
    }
    
}
