@font-face {
    font-family: 'Mania';
    src: url('../assets/fonts/Metal_Mania/MetalMania-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Agbalumo';
    src: url('../assets/fonts/Agbalumo/Agbalumo-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Rowdies';
    src: url('../assets/fonts/Rowdies/Rowdies-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}

body{
    background-color: black;
}
/* Header */
.hola{
    width: 100vw;
    height: 100vh;
    
}
.MainTittle{
    font-family: 'Mania';
}

.principalInterface{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   
.userInput{
    font-family: 'Mania';
    justify-content: center;
    align-items: center;
    gap:3%;
    color: blue;
    
}
.plusLessButtons{
    font-size: 4rem ;
    width: 5%;
    user-select: none;
    color: darkmagenta;
}
.plusLessButtons:active{transform: scale(1.1);}
.readyButton{
    width: 20%;
    background-color: red;
    font-size: 1.9rem;
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 15px ;
}

/* Cards  */
.villageBackground{
    background-image: url('../assets/cardContainerWp.png');
    background-size: cover;
    background-position-y: 80%;
    border: 2px solid white;
    opacity: 0.9;
}
.werewolfBackground{
    background-image: url('../assets/cardWContainerWp.png');
    background-size: cover;
    background-position-y: 60%;
    border: 2px solid rgb(7, 7, 7);
}
.countInfoTextV{
    color: rgb(0, 255, 225);
    font-family: 'Agbalumo';
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    
}
.countInfoTextW{
    color: rgb(254, 35, 35);
    font-family: 'Mania';
    
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    
    
}
.cardSectionVillage,.cardSectionWerewolf {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
    max-width: 95%; 
    align-items: center;
    margin-left: 10px;
  }
  
  .cardContainer {
    width: 6.5rem; 
    height: 9rem; 
    margin-right: 10px;
    flex-shrink: 0;
   
  }
  
  .cardBackV{
    background-image: url('../assets/dorsoCardV.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position-y:50% ;
    background-position-x:50% ;
  }
  .cardBackW{
    background-image: url('../assets/dorsoCardW.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position-y:50% ;
    background-position-x:50% ;
  }

  .textPointDifference{
    font-family: 'Rowdies';
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;   
  }
.opacityButtonOn{opacity: 1;}
.opacityButtonOff{opacity: 0;}

.displayOn{display: block;}
.displayOff{display: none;}

