@font-face {
    font-family: 'Mania';
    src: url('../assets/fonts/Metal_Mania/MetalMania-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Agbalumo';
    src: url('../assets/fonts/Agbalumo/Agbalumo-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Rowdies';
    src: url('../assets/fonts/Rowdies/Rowdies-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}

body{
    background-color: black;
}
/* Header */
.hola{
    width: 100vw;
    height: 100vh;
    
}
.MainTittle{
    font-family: 'Mania';
}

.principalInterface{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   
.userInput{
    font-family: 'Mania';
    justify-content: center;
    align-items: center;
    gap:3%;
    color: blue;
    
}
.plusLessButtons{
    font-size: 4rem ;
    width: 5%;
    user-select: none;
    color: darkmagenta;
}
.plusLessButtons:active{transform: scale(1.1);}
.readyButton{
    width: 20%;
    background-color: red;
    font-size: 1.9rem;
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 15px ;
}

/* Cards  */
.villageBackground{
    background-image: url('../assets/cardContainerWp.png');
    background-size: cover;
    background-position-y: 80%;
    border: 2px solid white;
    opacity: 0.9;
}
.werewolfBackground{
    background-image: url('../assets/cardWContainerWp.png');
    background-size: cover;
    background-position-y: 60%;
    border: 2px solid rgb(7, 7, 7);
}
.countInfoTextV{
    color: rgb(0, 255, 225);
    font-family: 'Agbalumo';
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    
}
.countInfoTextW{
    color: rgb(254, 35, 35);
    font-family: 'Mania';
    
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    
    
}
.cardSectionVillage,.cardSectionWerewolf {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
    max-width: 95%; 
    align-items: center;
    margin-left: 10px;
  }
  
  .cardContainer {
    width: 6.5rem; 
    height: 9rem; 
    margin-right: 10px;
    flex-shrink: 0;
}

.cardBackV{
    background-image: url('../assets/dorsoCardV.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position-y:50% ;
    background-position-x:50% ;
  }
  .cardBackW{
    background-image: url('../assets/dorsoCardW.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position-y:50% ;
    background-position-x:50% ;
  }

  .textPointDifference{
    font-family: 'Rowdies';
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;   
    color: white;
  }
.opacityButtonOn{opacity: 1;}
.opacityButtonOff{opacity: 0;}

.displayOn{display: block;}
.displayOff{display: none;}

@media screen and (min-width: 1440px) {
    
    .MainTittle.text-red-700.text-5xl.absolute.top-1.under{ 
        font-size: 5rem;
        margin-top: 30px;
    }
    .text-orange-500.text-3xl{
        color: rgb(255, 166, 0);
        font-size: 2rem;
    }
    .userInput.w-full.h-7.mt-10.flex {
        top: 0;margin-top: 2%;
        justify-content: center;
    }
    .playerText.text-orange-500.text-3xl{
        position: absolute;
        top: 4%;
        left: 3%;
        font-size: 3rem;
    }
    .flex.items-center.justify-between{
        position: absolute;
        font-size: 3rem;
        left: 3.5%;
        top: 7%;
    }
    /* .readyButton.absolute.right-2{
        top: 0;
        right: -10%;
    } */

    /* Cartas general */
    .cardSectionContainter.w-full{
        height: 100%;
        margin-top: 2%;
        width: 100%;
        flex-direction: row;
    }
    .villageBackground.w-full,.werewolfBackground.w-full{
        background-size: cover;
        height: 80vh;
        background-repeat: no-repeat;
        width: 100vw;
    }
   
    .cardSectionVillage,.cardSectionWerewolf{
        width: 700px;
        height: 100%;
        gap: 50px;
    }
    .cardBackV{
        background-size: 180% 131%;
        height: 60%;
        width: 40%;
    }
    .cardBackW{
        background-size: 180% 130%;
        height: 60%;
        width: 40%;
    }
    .w-full.h-full.imagen{
        height: 103%;
    }
    .textPointDifference.mt-2.mb-1{
        width: 25%; 
        border: none;
        font-size: 1.6rem;
    }
    .absolute.top-0.left-2.text-white.font-bold.pointCard{
        font-size: 2.5rem;
    }
    .countInfoTextW.absolute.top-1.right-1.text-4xl,.countInfoTextV.absolute.top-0.right-1.text-4xl{
        font-size: 4.5rem;
        margin-top: 20px;
        margin-right: 16px;
    }
    .countInfoTextW.absolute.top-1.left-1,.countInfoTextV.absolute.top-1.left-1{
        font-size: 3rem;
        margin-left: 10px;
    }
    /* .cardSectionVillage::-webkit-scrollbar,.cardSectionWerewolf::-webkit-scrollbar {
        width: 10px;  
      } */
  }