@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
.WerewolfMenuCard{
    background-image: url('../assets/backgroundW.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y:20%;
    background-position-x: 30%;
}
.WerewolfTittle{
    font-family: 'Nosifer', sans-serif;
    font-size: 1.5rem;
    color: rgb(253, 12, 12);
    
}

.CardsGridW{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 28% ); 
    grid-template-rows: repeat(4, 30%); 
    grid-gap: 20px;  
    row-gap: 30px;

    
    overflow-y: auto; 
    white-space: nowrap;
    max-height: 88%; 
    align-items: center;

}
.CardsGridW::-webkit-scrollbar{display: none;}
.ImgCard2{
    width: 7rem;
    height: 9rem;
    flex-shrink: 0;
}
.ImgCardContainer:hover{
    transform: scale(1.1);
    
}

@media screen and (min-width: 1440px) {

    .WerewolfMenuCard.border-4.border-gray-800.bg-orange-300.relative.rounded-lg{
        width: 40%;
        height: 80%;
    }
    .CardsGridW.mt-2{
        margin-left: 5%;
        width: 100%;
        grid-gap: 1px;  
        row-gap: 31px;
        grid-template-columns: repeat(3, 28% ); 
        grid-template-rows: repeat(5, 30%); 

        max-height: 85%; 
    }
    .ImgCardContainer.relative{
        width: 400px;
        height: 100px;
    }
}