@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
.WerewolfMenuCard{
    background-image: url('../assets/backgroundW.png');
    background-size: auto;
    background-repeat: no-repeat;
}
.WerewolfTittle{
    font-family: 'Nosifer', sans-serif;
    font-size: 1.5rem;
    color: rgb(253, 12, 12);
    
}

.CardsGrid{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 28% ); 
    grid-template-rows: repeat(4, 30%); 
    grid-gap: 20px;  
    row-gap: 30px;

    
    overflow-y: auto; 
    white-space: nowrap;
    max-height: 88%; 
    align-items: center;

}
.CardsGrid::-webkit-scrollbar{display: none;}
.ImgCard2{
    width: 7rem;
    height: 9rem;
    flex-shrink: 0;
}
.ImgCardContainer:hover{
    transform: scale(1.1);
    
}